@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Despesas";
}

<h2 class="display-6" style="text-align:center; font-family: 'Cinzel', serif;">@ViewData["Title"]</h2>

<a asp-page="Create" class="btn"
    style="background-color: rgb(10, 155, 245); color: white; border: none; padding: 8px 16px; border-radius: 5px; font-size: 1rem; text-decoration: none; display: inline-block; transition: background-color 0.3s;">Nova
    Despesa</a>

<hr />
<div class="container-fluid px-3 mt-4">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>&nbsp;</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Detalhes</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Despesas != null && Model.Despesas.Any())
                {
                    foreach (var despesa in Model.Despesas)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(despesa.Anexo))
                                {
                                    var isPdf = despesa.Anexo.StartsWith("JVBER") || despesa.Anexo.StartsWith("0M8R4") || despesa.Anexo.StartsWith("UEsDB");
                                    var mimeType = isPdf ? "application/pdf" : "image/png";
                                    <a href="data:@mimeType;base64,@despesa.Anexo" download="anexo_@despesa.Id.@(isPdf ? "pdf" : "png")" class="btn btn-outline-secondary btn-sm mb-1 w-100">Baixar Anexo</a>
                                }
                            </td>
                            <td>@despesa.Descricao</td>
                            @{
                                var brasilia = TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time");
                                var dataBrasilia = TimeZoneInfo.ConvertTimeFromUtc(despesa.Data, brasilia);
                            }
                            <td>@dataBrasilia.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@despesa.Valor</td>
                            <td>@despesa.Detalhes</td>
                            <td class="d-grid gap-2">
                                <a asp-page="Edit" asp-route-id="@despesa.Id" class="btn btn-primary btn-sm mb-1">Editar</a>
                                <a asp-page="Delete" asp-route-id="@despesa.Id" class="btn btn-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">Nenhuma despesa cadastrada.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>