@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Irmãos";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casa de Oração - Yeshua</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 class="mb-2 text-center" style="font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Irmãos</h2>

        <a asp-page="Create" class="btn" style="background-color: lightskyblue; color: white; border: none; padding: 8px 16px; border-radius: 5px; font-size: 1rem; text-decoration: none; display: inline-block; transition: background-color 0.3s;">Novo Irmão</a>

        <hr />

        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Nome</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Clientes != null && Model.Clientes.Any())
                        {
                            foreach (var cliente in Model.Clientes)
                            {
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrEmpty(cliente.Imagem))
                                        {
                                            <img src="data:image/png;base64,@cliente.Imagem" alt="Imagem do Irmão" style="width:50px; height:auto;" />
                                        }
                                        &nbsp;
                                    </td>
                                    <td>@cliente.Nome</td>
                                    <td>@Model.FormatarTelefone(cliente.TelefoneCelular)</td>
                                    <td>@cliente.Email</td>
                                    <td>
                                        <a asp-page="Edit" asp-route-id="@cliente.Id" class="btn btn-primary btn-sm">Editar</a>
                                        <a asp-page="Delete" asp-route-id="@cliente.Id" class="btn btn-primary btn-sm">Excluir</a>
                                        <a href="https://wa.me/@cliente.TelefoneCelular.Replace(" ", "").Replace("(", "").Replace(")", "").Replace("-", "")" class="btn btn-success btn-sm" target="_blank"
                                           title="Enviar mensagem no WhatsApp">
                                            <i class="fab fa-whatsapp"></i> WhatsApp
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">Nenhum irmão cadastrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
