@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pedidos";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casa de Oração - Yeshua</title>
</head>
<body>
    <div class="container">
        <h2 class="display-6" style="text-align:center;font-family: 'Cinzel', serif;">@ViewData["Title"]</h2>

        <a asp-page="Create" class="btn" style="background-color: rgb(10, 155, 245); color: white; border: none; padding: 8px 16px; border-radius: 5px; font-size: 1rem; text-decoration: none; display: inline-block; transition: background-color 0.3s;">Novo Pedido</a>

        <hr />

        <div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Irmão</th>
                            <th>Situação</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Pedidos != null && Model.Pedidos.Any())
                        {
                            foreach (var pedido in Model.Pedidos)
                            {
                                <tr>

                                    <td>@pedido.Cliente.Nome</td>
                                    <td>@pedido.StatusPedido</td>
                                    <td>@pedido.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                                    <td>
                                        <a asp-page="Payment" asp-route-id="@pedido.Id" class="btn btn-success btn-sm">Pagamento</a>
                                        <a asp-page="Notify" asp-route-id="@pedido.Id" class="btn btn-primary btn-sm">Notificar</a>
                                        <a asp-page="Edit" asp-route-id="@pedido.Id" class="btn btn-primary btn-sm">Editar</a>
                                        <a asp-page="Delete" asp-route-id="@pedido.Id" class="btn btn-danger btn-sm">Encerrar</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">Nenhum pedido cadastrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
