@page "{id:int}"
@model NotifyModel
@{
    Layout = "_Layout";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Casa de Oração - Yeshua</title>
</head>

<h2 class="mb-2 text-center" style="text-align:center; font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Notificar</h2>

<div>
    <div>
        <form asp-page="Notify" method="post">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Irmão</th>
                        <th>Valor</th>
                        <th>Dias atraso</th>
                        <th>Notificar via</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Pedido.Cliente.Nome != null && Model.Pedido is not null)
                    {
                        var diasEmAtraso = (DateTime.Now.Date - Model.Pedido.Data.Date).Days;
                        diasEmAtraso = diasEmAtraso < 0 ? 0 : diasEmAtraso;
                        <input type="hidden" asp-for="Pedido.Id" />
                        <input type="hidden" name="metodoNotificacao" id="metodoNotificacao" value="" />
                        <tr>
                            <td>@Model.Pedido.Cliente.Nome</td>
                            <td>@Model.Pedido.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                            @if (diasEmAtraso > 0 && diasEmAtraso <=10)
                            {
                                <td style="background-color:#FFD700">@diasEmAtraso</td>
                            }
                            else if (diasEmAtraso > 10)
                            {
                                <td style="background-color:#FF6347">@diasEmAtraso</td>
                            }
                            else
                            {
                                <td>@diasEmAtraso</td>
                            }
                            <td>
                                <button type="submit" class="btn btn-success btn-sm" title="Enviar notificação via WhatsApp" onclick="Escolha('1');">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                                <button type="submit" class="btn btn-outline-primary btn-sm" title="Enviar notificação via E-mail" onclick="Escolha('2');">
                                    <i class="fas fa-envelope"></i> E-mail
                                </button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Informações não encontradas.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-page="/Pedidos/Index" class="btn btn-outline-primary">Voltar</a>
        </form>
    </div>
</div>

<script>
    function Escolha(metodo) {
        document.getElementById('metodoNotificacao').value = metodo;
    }
</script>
