@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Próximos Eventos";
}

<h2 class="display-6" style="text-align:center; font-family: 'Cinzel', serif;">@ViewData["Title"]</h2>

<a asp-page="Create" class="btn" style="background-color: lightskyblue; color: white; border: none; padding: 8px 16px; border-radius: 5px; font-size: 1rem; text-decoration: none; display: inline-block; transition: background-color 0.3s;">Novo Evento</a>

<hr />
<div class="mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Tipo de evento</th>
                <th>Detalhes</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Eventos != null && Model.Eventos.Any())
            {
                foreach (var evento in Model.Eventos)
                {
                    <tr>
                        <td>@evento.Descricao</td>
                        <td>@Convert.ToDateTime(evento.Data).ToString("dd/MM/yyyy")</td> 
                        <td>@evento.Horario</td> 
                        <td>@evento.TipoEvento</td>
                        <td>@evento.Detalhes</td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@evento.Id" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-page="Delete" asp-route-id="@evento.Id" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">Nenhum evento para os próximos dias.</td>
                </tr>
            }
        </tbody>
    </table>
</div>